body{
  background-color: rgb(236, 214, 217);
}

header {
  background-color: azure;
  padding: 10px;
  text-align: center;
}

header h3{
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

main {
  padding: 20px;
}

h1{
  font-size: 5em;
  margin-top: 0;
  padding-top: 0;
}
h2{
  font-size: 3em;
 margin: 30px 0;
}
h3{
  font-size: 1.5em;
  margin: 30px 10px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  color: rgb(221, 44, 74);
}

#cookielove {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#cookielove img {

  width: 300px;
  height: 100px;
  border: 2px solid darkred;
  margin: 10px;

} 

#cookielove article{

  width: 400px;
  margin: 10px;
}
#locations {
  display: flexbox;
  justify-content: center;
}

#locations section {
  display: inline;
  justify-content: space-around;
}

#locations section img{
  width: 100px;
  border: 2px solid darkred;
  margin: 10px;
}

 .hours{
  list-style-type: square;
}

label {
  display: block;
}

input {  
  display:block;
  margin-bottom: 10px;
}
select {
  display: block;
  margin-bottom: 10px;
}

/* table styles taken from Canvas table*/

 table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #444;
  color: #444;
  width: 50px;
}
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #7223b2;
  border-right: 1px solid #0e0e0d;
}

td:first-child {
  border-left: 1px solid #444;
  font-weight: bold;
}


#output {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(64, 62, 62);
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(25, 25, 79);
}


div {
  display: block;
  margin:20px;
  border: 10px;
  padding: 10px;
}

li{
  color:rgb(25, 25, 79);
}

ul {
  list-style-type: disc;
  color:rgb(25, 25, 79);
  margin: 1rem;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem;
}


